BODY
	{
		TEXT-ALIGN:CENTER;
		BACKGROUND-COLOR:#FCF951FF;
		FONT-FAMILY:ARIAL,HELVETICA,SANS-SERIF;
		FONT-SIZE:20PX;
		LINE-HEIGHT:1.6EM;
		MARGIN:0;
	}
	.CONTAINER{
		WIDTH:80%;
		MARGIN:AUTO;
		OVERFLOW:HIDDEN;
	}
	
	#MAIN-HEADER{
		BACKGROUND-COLOR:CORAL;
		COLOR:#FFF;
	}
	.CONTAINER{
		WIDTH:50%;
		MARGIN:AUTO;
	}
	.BOX-1{
		MARGIN:5PX 10PX 10PX 20PX;
		BORDER:5PX SOLID BLACK ;
		BACKGROUND-IMAGE:URL(../image/image2.jpEg);
		BORDER-WIDTH:5PX;
		PADDING:5PX;
		
		
	}
	#SHOWCASE{
		BACKGROUND-IMAGE:URL(../image/image6.jpEg);
		BACKGROUND-POSITION:CENTER-RIGHT;
		MIN-HEIGHT:700PX;
		MARGIN-BOTTOM:0PX;
		TEXT-ALIGN:CENTER;
		COLOR:CORAL;
	
	}
	.ADMINLOGIN{
		PADDING:20PX;
	}
	.ADMINLOGIN FORM-GROUP{
		PADDING-BOTTOM:15PX;
	}
	.ADMINLOGIN LABEL{
		DISPLAY:BLACK;
	}
	.ADMINLOGIN INPUT[TYPE="TEXT"].ADMINLOGIN TEXTAREA{
		PADDING:8PX;
		WIDTH:100%;
	}
		
	.ADMINLOGIN INPUT[TYPE="SUBMIT"]{
		BACKGROUND-COLOR:#422057FF;
		COLOR:WHITE;
		PADDING:10PX 15PX;
		BORDER:NONE;
	}
	
	@MEDIA(MAX-WIDTH:600PX){
		#MAIN{
			WIDTH:100%;
			FLOAT:NONE;
		}
		#SIDEBAR{
			WIDTH:100%;
			FLOAT:NONE;
		}
	}