BODY
	{
		
		BACKGROUND-COLOR:#BEBDB8;
		
		FONT-FAMILY:ARIAL,HELVETICA,SANS-SERIF;
		FONT-SIZE:20PX;
		LINE-HEIGHT:1.6EM;
		MARGIN:0;
	}
	.CONTAINER{
		WIDTH:80%;
		MARGIN:AUTO;
		OVERFLOW:HIDDEN;
	}
	#MAIN-HEADER{
		TEXT-ALIGN:CENTER;
		BACKGROUND-COLOR:CORAL;
		COLOR:#FFF;
	}
	.CONTAINER{
		WIDTH:50%;
		MARGIN:AUTO;
	}
	.BOX-2{
		MARGIN:5PX 10PX 5PX 10PX;
		BORDER:5PX SOLID BLACK ;
		BACKGROUND-COLOR:#DCCFEC;
		BORDER-WIDTH:3PX;
		PADDING:20PX;
	}
	
	.BUTTON:HOVER{
		BACKGROUND:GREEN;
		COLOR:WHITE;
}
	.BUTTON{
		BACKGROUND-COLOR:RED;
		
		COLOR:WHITE;
		PADDING:10PX 15PX;
		BORDER:NONE;
	}
	@MEDIA(MAX-WIDTH:600PX){
		#MAIN{
			WIDTH:100%;
			FLOAT:NONE;
		}
		#SIDEBAR{
			WIDTH:100%;
			FLOAT:NONE;
		}
	}