BODY
	{
		TEXT-ALIGN:CENTER;
		BACKGROUND-COLOR:#F4F4F4;
		COLOR:#SSS;
		FONT-FAMILY:ARIAL,HELVETICA,SANS-SERIF;
		FONT-SIZE:20PX;
		LINE-HEIGHT:1.6EM;
		MARGIN:0;
	}
	.CONTAINER{
		WIDTH:80%;
		MARGIN:AUTO;
		OVERFLOW:HIDDEN;
	}
	
	#MAIN-HEADER{
		BACKGROUND-COLOR:CORAL;
		COLOR:#FFF;
	}
	#SHOWCASE{
		BACKGROUND-IMAGE:URL(../image/image6.jpeg);
		BACKGROUND-POSITION:CENTER-RIGHT;
		MIN-HEIGHT:300PX;
		MARGIN-BOTTOM:30PX;
		TEXT-ALIGN:CENTER-RIGHT;
	
	}
	#SHOWCASE h1{
		COLOR:#FFFF33;
		FONT-SIZE:50PX;
		LINE-HEIGHT:1.6EM;
		PADDING-TOP:90PX;
	}
	.BOX-1{
		MARGIN:5PX 10PX 5PX 10PX;
		BORDER:5PX SOLID BLACK ;
		BACKGROUND-COLOR:#FCF6F5FF;
		COLOR:WHITE;
		BORDER-WIDTH:3PX;
		PADDING:20PX;
		BACKGROUND-IMAGE:URL(../image/image4.jpeg);
	}
	@MEDIA(MAX-WIDTH:600PX){
		#MAIN{
			WIDTH:100%;
			FLOAT:NONE;
		}
		#SIDEBAR{
			WIDTH:100%;
			FLOAT:NONE;
		}
	}
	