BODY
	{
		TEXT-ALIGN:CENTER;
		BACKGROUND-COLOR:#F4F4F4;
		FONT-FAMILY:ARIAL,HELVETICA,SANS-SERIF;
		FONT-SIZE:20PX;
		LINE-HEIGHT:1.6EM;
		MARGIN:0;
	}
	
	.CONTAINER{
		WIDTH:80%;
		MARGIN:AUTO;
		OVERFLOW:HIDDEN;
	}
	#MAIN-HEADER{
		BACKGROUND-COLOR:CORAL;
		COLOR:#FFF;
	}
	.CONTAINER{
		WIDTH:40%;
		MARGIN:AUTO;
	}
	.BOX-1{
		MARGIN:5PX 10PX 5PX 10PX;
		FONT:DIDOT;
		BORDER:5PX SOLID BLACK ;
		BACKGROUND-COLOR:#FCF6F5FF;
		COLOR:BLACK;
		BORDER-WIDTH:3PX;
		PADDING:20PX;
	}
	.CENTER{
		DISPLAY:BLOCK;
		MARGIN-LEFT:AUTO;
		MARGIN-RIGHT:AUTO;
		BORDER:5PX GROOVE;
		BORDER-RADIUS:4PX;
		PADDING:5PX;
		WIDTH:150PX;
		WIDTH:20%;
	}
	.CENTER:HOVER{
		BOX-SHADOW:0 0 2PX 1PX RGBA(0,140,186,0.5);
	}
	@MEDIA(MAX-WIDTH:600PX){
		#MAIN{
			WIDTH:100%;
			FLOAT:NONE;
		}
		#SIDEBAR{
			WIDTH:100%;
			FLOAT:NONE;
		}
	}