	BODY
	{
		TEXT-ALIGN:CENTER;
		BACKGROUND-COLOR:#F4F4F4;
		COLOR:#SSS;
		FONT-FAMILY:ARIAL,HELVETICA,SANS-SERIF;
		FONT-SIZE:20PX;
		LINE-HEIGHT:1.6EM;
		MARGIN:0;
	}
	
	.CONTAINER{
		WIDTH:80%;
		MARGIN:AUTO;
		OVERFLOW:HIDDEN;
	}
	.MARQUEE{
		TEXT-ALIGN:RIGHT;
		PADDING-TOP:30PX;
		PADDING-BOTTOM:30PX;
		HEIGHT:90PX;
		COLOR:CORAL;
	}
	.CONTAINER{
		WIDTH:80%;
		MARGIN:AUTO;
	}
	.BOX-2{
		MARGIN:5PX 10PX 5PX 10PX;
		BORDER:8PX OUTSET  ;
		BACKGROUND-COLOR:#F3F315;
		COLOR:BLACK;
		BORDER-WIDTH:3PX;
		PADDING:20PX;
	}
	#MAIN-HEADER{
		BACKGROUND-COLOR:CORAL;
		COLOR:#FFF;
	}
	#NAVBAR{
		BACKGROUND-COLOR:#333;
		COLOR:#FFF;
	}
	#NAVBAR UL{
		PADDING:0;
		LIST-STYLE:NONE;
	}
	#NAVBAR LI{
		DISPLAY:INLINE;
	}
	#NAVBAR A{
		COLOR:#FFF;
		TEXT-DECORATION:NONE;
		FONT-SIZE:17PX;
		PADDING-RIGHT:15PX
	}
	#NAVBAR A:HOVER{
		COLOR:#FFFF3D;				
	}
	#NAVBAR A:ACTIVE{
		COLOR:GREEN;				
	}
	
		
	#SHOWCASE{
		BACKGROUND-IMAGE:URL(../image/image.jpEg);
		BACKGROUND-POSITION:CENTER-RIGHT;
		MIN-HEIGHT:300PX;
		MARGIN-BOTTOM:30PX;
		TEXT-ALIGN:CENTER;
	
	}
	#SHOWCASE h1{
		COLOR: #FFFF3D;
		FONT-SIZE:50PX;
		LINE-HEIGHT:1.6EM;
		PADDING-TOP:30PX;
	}
	#MAIN{
		FLOAT:LEFT;
		WIDTH:70%;
	    PADDING:0 30PX;
		BOX-SIZING:BORDER-BOX;
		FONT-FAMILY:ALLEGROX;
		FONT-SIZE:25PX;
		COLOR:#696969;
	}	
	#SIDEBAR{
		FLOAT:RIGHT;
		WIDTH:20%;
	    BACKGROUND:#333;
		COLOR:#FFFF2D;
		FONT-FAMILY:ALLEGROX;
		PADDING:10PX;
		BOX-SIZING:BORDER-BOX;
	}
	#MAIN-FOOTER{
		BACKGROUND:#333;
		COLOR:#FFF;
		TEXT-ALIGN:CENTER;
		PADDING:20PX;
		MARGIN-TOP 40PX;
	}
	@MEDIA(MAX-WIDTH:600PX){
		#MAIN{
			WIDTH:100%;
			FLOAT:NONE;
		}
		#SIDEBAR{
			WIDTH:100%;
			FLOAT:NONE;
		}
	}